@import "~@angular/material/prebuilt-themes/indigo-pink.css";

  .logo{
    width: 100%;
  }
 
  .mat-sidenav-container{
    background-color: white;
    height: 590px;
  }
  .table{
    margin-top: 50px;
  }

  .card-deck{
    margin-top: 30px;
  }
  .full-width {
    width: 100%;
  }
  .menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
  }
  .menu-button.rotated {
    transform: rotate(180deg);
  }
  .parent{
    margin-top: 0px;
  }
  .submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 10px;
  }
  .submenu.expanded {
    transform: scaleY(1);
  }
  button.example-icon.mat-button {
    margin-left: auto;
}

  .mat-toolbar.mat-primary {
    background: #fff;
    color: #3f51b5;
}

/* css */

label{
  font-weight: normal;
}

select.ng-untouched.ng-pristine.ng-valid {
  margin-left: 14px;
}
.container{
margin-top: 50px;
}

.card-title {
  margin-bottom: .75rem;
  font-size: 20px;
  font-weight: 500;
}

.save{
  font-size: 12px;
}

.reset{
  font-size:12px;
}

button.btn {
  margin: 8px;
}

select {
  margin: 6px;
}