

<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
  <img src="../../assets/better.png" alt="loding" name="logo" class="logo">
  <h1 class="title">login form</h1>
  <div class="card">
    <div class="left"></div>
    <div class="right">
      <form (submit)="login($event)">
        <div class="form-input">
          <input type="text" id="username" placeholder="Enter Your Username" name="username" required>
          <label for="username">username</label>
        </div>
        <div class="form-input">
          <input type="password" id="password" placeholder="Enter Your Password" name="password" required>
          <label for="password">password</label>
        </div>
        <input type="submit" class="btn btn-primary" value="LOGIN" name="login">
        <a href="#" class="forgot-password">forgot password?</a>
      </form>
    </div>
  </div>
  </div>
  </div>
</div>
