
<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="isExpanded = !isExpanded">
    <mat-icon>menu</mat-icon></button>
  <div>
      <img src="../../assets/logowhite.png" alt="loding" name="logo" class="logo">
  </div>

  <button mat-button [matMenuTriggerFor]="belowMenu" class="example-icon">  <i class="material-icons">
      account_box
      </i></button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item>Change Password</button>
    <button mat-menu-item>Logout</button>
  </mat-menu>
  <a href="#" class="example-icon">Important Links</a>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">

        <mat-nav-list>

                        <a mat-list-item routerLink="/dash">
                            <span class="full-width" *ngIf="isExpanded || isShowing">Dashboard</span>
        <mat-icon mat-list-icon>home</mat-icon>
            </a>

            <mat-list-item [matMenuTriggerFor]="user">
                <span class="full-width" *ngIf="isExpanded || isShowing">User Management</span>
        <mat-icon mat-list-icon>perm_identity</mat-icon>
            </mat-list-item>
            <mat-menu #user="matMenu">
          <a routerLink="/users"><button mat-menu-item>Users</button></a>
            </mat-menu>

            <mat-list-item [matMenuTriggerFor]="admin">
              <span class="full-width" *ngIf="isExpanded || isShowing">Admin</span>
      <mat-icon mat-list-icon>receipt</mat-icon>
          </mat-list-item>
  <mat-menu #admin="matMenu">
<button mat-menu-item  [matMenuTriggerFor]="job">Job</button>
<button mat-menu-item [matMenuTriggerFor]="organisation">Organisation</button>
<button mat-menu-item [matMenuTriggerFor]="qualification">Qualification</button>
            <button mat-menu-item [matMenuTriggerFor]="aconfigure">Configuration</button>
<a routerLink="/"><button mat-menu-item>Nationalities</button></a>
          </mat-menu>

  <mat-menu #job="matMenu">
      <a routerLink="/addentitlement"><button mat-menu-item>Job Title</button></a>
      <a routerLink="/leaventitlement"><button mat-menu-item>Employee Status</button></a>
      <a routerLink="/myentitlement"><button mat-menu-item>Pay Grades</button></a>
      <a routerLink="/myentitlement"><button mat-menu-item>Job Categories</button></a>
      <a routerLink="/myentitlement"><button mat-menu-item>Work Shift</button></a>
  </mat-menu>

  <mat-menu #organisation="matMenu">
      <a routerLink="/addentitlement"><button mat-menu-item>General Information</button></a>
      <a routerLink="/leaventitlement"><button mat-menu-item>Structure</button></a>
      <a routerLink="/myentitlement"><button mat-menu-item>Location</button></a>
  </mat-menu>

  <mat-menu #qualification="matMenu">
      <a routerLink="/addentitlement"><button mat-menu-item>Skills</button></a>
      <a routerLink="/leaventitlement"><button mat-menu-item>Education</button></a>
      <a routerLink="/myentitlement"><button mat-menu-item>Certifications</button></a>
      <a routerLink="/myentitlement"><button mat-menu-item>Languages</button></a>
  </mat-menu>

  <mat-menu #aconfigure="matMenu">
      <a routerLink="/addentitlement"><button mat-menu-item>Email Configuration</button></a>
      <a routerLink="/leaventitlement"><button mat-menu-item>Email Subscription</button></a>
      <a routerLink="/myentitlement"><button mat-menu-item>Modules</button></a>
  </mat-menu>

            <mat-list-item [matMenuTriggerFor]="leave">
                <span class="full-width" *ngIf="isExpanded || isShowing">Leave</span>
        <mat-icon mat-list-icon>receipt</mat-icon>
            </mat-list-item>
            <mat-menu #leave="matMenu">
              <button mat-menu-item>Apply Leave</button>
              <button mat-menu-item>My Leave</button>
              <button mat-menu-item [matMenuTriggerFor]="entitlements">Entitlements</button>
              <button mat-menu-item [matMenuTriggerFor]="ecofigure">Configure</button>
              <button mat-menu-item [matMenuTriggerFor]="ereports">Reports</button>
              <button mat-menu-item>Leave List</button>
              <button mat-menu-item>Assign Leave</button>
            </mat-menu>

            <mat-menu #entitlements="matMenu">
              <button mat-menu-item>Add Entitlements</button>
              <button mat-menu-item>Employee Entitlements</button>
              <button mat-menu-item>My Entitlements</button>
            </mat-menu>

            <mat-menu #ereports="matMenu">
                <button mat-menu-item>Leave Entitlements and Usagereports</button>
                <button mat-menu-item>My Leave Entitlements and Usagereports</button>
              </mat-menu>

            <mat-menu #ecofigure="matMenu">
                <button mat-menu-item>Leave Period</button>
                <button mat-menu-item>Leave Type</button>
                <button mat-menu-item>Work Week</button>
                <button mat-menu-item>Holidays</button>
              </mat-menu>
          
            <mat-list-item [matMenuTriggerFor]="pim">
                <span class="full-width" *ngIf="isExpanded || isShowing">PIM</span>
        <mat-icon mat-list-icon>assessment</mat-icon>
            </mat-list-item>
            <mat-menu #pim="matMenu">
              <button mat-menu-item [matMenuTriggerFor]="configuration">Configuration</button>
              <button mat-menu-item >Employee List</button>
              <button mat-menu-item >Add Employee</button>
              <button mat-menu-item >Reports</button>
            </mat-menu>
          
            <mat-menu #configuration="matMenu">
              <button mat-menu-item>Optional Fields</button>
              <button mat-menu-item>Custom Fields</button> 
              <button mat-menu-item>Data Import</button> 
              <button mat-menu-item>Reporting Method</button> 
              <button mat-menu-item>Terimantion Reasons</button> 
            </mat-menu>
            
            <mat-list-item [matMenuTriggerFor]="time">
              <span class="full-width" *ngIf="isExpanded || isShowing">Time</span>
              <mat-icon mat-list-icon>schedule</mat-icon>
          </mat-list-item>
          <mat-menu #time="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="timesheets">Timesheets</button>
            <button mat-menu-item [matMenuTriggerFor]="tattendance">Attendance</button>
            <button mat-menu-item [matMenuTriggerFor]="treports">Report</button>
            <button mat-menu-item [matMenuTriggerFor]="tproject">Project Info</button>
          </mat-menu>
          <mat-menu #timesheets="matMenu">
              <button mat-menu-item>My timesheets</button>
              <button mat-menu-item>Employee timesheets</button>  
            </mat-menu>
            <mat-menu #tattendance="matMenu">
                <button mat-menu-item>My Records</button>
                <button mat-menu-item>Punch In/Out</button>  
                <button mat-menu-item>Employee Records</button>  
                <button mat-menu-item>Configuration</button>  
              </mat-menu>
              <mat-menu #treports="matMenu">
                  <button mat-menu-item>Project Reports</button>
                  <button mat-menu-item>Employee Reports</button> 
                  <button mat-menu-item>Attendance Summary</button>  
                </mat-menu>
                <mat-menu #tproject="matMenu">
                    <button mat-menu-item>Customers</button>
                    <button mat-menu-item>Projectsss</button> 
                  </mat-menu>
          
            <a mat-list-item routerLink="/login">
              <!-- <i class="material-icons">
                  account_circle
                  </i> <span class="nav-caption">My info</span> -->
                  <span class="full-width" *ngIf="isExpanded || isShowing">My info</span>
        <mat-icon mat-list-icon>account_circle</mat-icon>
          </a>
          
          <mat-list-item [matMenuTriggerFor]="performance">
            <!-- <i class="material-icons">
                account_circle
                </i>
              <a matline>Performance</a> -->
      <span class="full-width" *ngIf="isExpanded || isShowing">Performance</span>
        <mat-icon mat-list-icon>account_circle</mat-icon>
          </mat-list-item>
          <mat-menu #performance="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="reviews">Manage Reviews</button>
            <button mat-menu-item>My Trackers</button>
            <button mat-menu-item>Employee Trackers</button>
          </mat-menu>
          
          <mat-menu #reviews="matMenu">
            <button mat-menu-item>My Reviews</button>
            <button mat-menu-item>Review list</button>
          </mat-menu>
          
          <a mat-list-item routerLink="#">
              <span class="full-width" *ngIf="isExpanded || isShowing">Directory</span>
              <mat-icon mat-list-icon>account_circle</mat-icon>  
          </a>
           
            </mat-nav-list>
  </mat-sidenav>

<div class="location">
<div class="card shadow p-3 mb-5 bg-white rounded">
  <div align="center" class="card-title">Locations</div>
  <div class="card-body">

    <div class="form-group row">
      <label for="locationname" class="col-sm-2 col-form-label">Location Name *</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="name" placeholder="">
      </div>
    </div>

    <div class="form-group row">
      <label for="city" class="col-sm-2 col-form-label">City *</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="city" placeholder="">
      </div>
    </div>
        <div class="form-group row">
          <label for="country" class="col-sm-2 col-form-label">Country</label>
          <div class="col-sm-6">
          <select [disabled]="contact" class="form-control" id="country" required>
              <option value="AF">Select a Country</option>
                <option value="AF">Afghanistan</option>
                <option value="AL">Albania</option>
                <option value="DZ">Algeria</option>
                <option value="AS">American Samoa</option>
                <option value="AD">Andorra</option>
                <option value="AG">Angola</option>
                <option value="AI">Anguilla</option>
                <option value="AG">Antigua &amp; Barbuda</option>
                <option value="AR">Argentina</option>
                <option value="AA">Armenia</option>
                <option value="AW">Aruba</option>
                <option value="AU">Australia</option>
                <option value="AT">Austria</option>
                <option value="AZ">Azerbaijan</option>
                <option value="BS">Bahamas</option>
                <option value="BH">Bahrain</option>
                <option value="BD">Bangladesh</option>
                <option value="BB">Barbados</option>
                <option value="BY">Belarus</option>
                <option value="BE">Belgium</option>
                <option value="BZ">Belize</option>
                <option value="BJ">Benin</option>
                <option value="BM">Bermuda</option>
                <option value="BT">Bhutan</option>
                <option value="BO">Bolivia</option>
                <option value="BL">Bonaire</option>
                <option value="BA">Bosnia &amp; Herzegovina</option>
                <option value="BW">Botswana</option>
                <option value="BR">Brazil</option>
                <option value="BC">British Indian Ocean Ter</option>
                <option value="BN">Brunei</option>
                <option value="BG">Bulgaria</option>
                <option value="BF">Burkina Faso</option>
                <option value="BI">Burundi</option>
                <option value="KH">Cambodia</option>
                <option value="CM">Cameroon</option>
                <option value="CA">Canada</option>
                <option value="IC">Canary Islands</option>
                <option value="CV">Cape Verde</option>
                <option value="KY">Cayman Islands</option>
                <option value="CF">Central African Republic</option>
                <option value="TD">Chad</option>
                <option value="CD">Channel Islands</option>
                <option value="CL">Chile</option>
                <option value="CN">China</option>
                <option value="CI">Christmas Island</option>
                <option value="CS">Cocos Island</option>
                <option value="CO">Colombia</option>
                <option value="CC">Comoros</option>
                <option value="CG">Congo</option>
                <option value="CK">Cook Islands</option>
                <option value="CR">Costa Rica</option>
                <option value="CT">Cote D'Ivoire</option>
                <option value="HR">Croatia</option>
                <option value="CU">Cuba</option>
                <option value="CB">Curacao</option>
                <option value="CY">Cyprus</option>
                <option value="CZ">Czech Republic</option>
                <option value="DK">Denmark</option>
                <option value="DJ">Djibouti</option>
                <option value="DM">Dominica</option>
                <option value="DO">Dominican Republic</option>
                <option value="TM">East Timor</option>
                <option value="EC">Ecuador</option>
                <option value="EG">Egypt</option>
                <option value="SV">El Salvador</option>
                <option value="GQ">Equatorial Guinea</option>
                <option value="ER">Eritrea</option>
                <option value="EE">Estonia</option>
                <option value="ET">Ethiopia</option>
                <option value="FA">Falkland Islands</option>
                <option value="FO">Faroe Islands</option>
                <option value="FJ">Fiji</option>
                <option value="FI">Finland</option>
                <option value="FR">France</option>
                <option value="GF">French Guiana</option>
                <option value="PF">French Polynesia</option>
                <option value="FS">French Southern Ter</option>
                <option value="GA">Gabon</option>
                <option value="GM">Gambia</option>
                <option value="GE">Georgia</option>
                <option value="DE">Germany</option>
                <option value="GH">Ghana</option>
                <option value="GI">Gibraltar</option>
                <option value="GB">Great Britain</option>
                <option value="GR">Greece</option>
                <option value="GL">Greenland</option>
                <option value="GD">Grenada</option>
                <option value="GP">Guadeloupe</option>
                <option value="GU">Guam</option>
                <option value="GT">Guatemala</option>
                <option value="GN">Guinea</option>
                <option value="GY">Guyana</option>
                <option value="HT">Haiti</option>
                <option value="HW">Hawaii</option>
                <option value="HN">Honduras</option>
                <option value="HK">Hong Kong</option>
                <option value="HU">Hungary</option>
                <option value="IS">Iceland</option>
                <option value="IN">India</option>
                <option value="ID">Indonesia</option>
                <option value="IA">Iran</option>
                <option value="IQ">Iraq</option>
                <option value="IR">Ireland</option>
                <option value="IM">Isle of Man</option>
                <option value="IL">Israel</option>
                <option value="IT">Italy</option>
                <option value="JM">Jamaica</option>
                <option value="JP">Japan</option>
                <option value="JO">Jordan</option>
                <option value="KZ">Kazakhstan</option>
                <option value="KE">Kenya</option>
                <option value="KI">Kiribati</option>
                <option value="NK">Korea North</option>
                <option value="KS">Korea South</option>
                <option value="KW">Kuwait</option>
                <option value="KG">Kyrgyzstan</option>
                <option value="LA">Laos</option>
                <option value="LV">Latvia</option>
                <option value="LB">Lebanon</option>
                <option value="LS">Lesotho</option>
                <option value="LR">Liberia</option>
                <option value="LY">Libya</option>
                <option value="LI">Liechtenstein</option>
                <option value="LT">Lithuania</option>
                <option value="LU">Luxembourg</option>
                <option value="MO">Macau</option>
                <option value="MK">Macedonia</option>
                <option value="MG">Madagascar</option>
                <option value="MY">Malaysia</option>
                <option value="MW">Malawi</option>
                <option value="MV">Maldives</option>
                <option value="ML">Mali</option>
                <option value="MT">Malta</option>
                <option value="MH">Marshall Islands</option>
                <option value="MQ">Martinique</option>
                <option value="MR">Mauritania</option>
                <option value="MU">Mauritius</option>
                <option value="ME">Mayotte</option>
                <option value="MX">Mexico</option>
                <option value="MI">Midway Islands</option>
                <option value="MD">Moldova</option>
                <option value="MC">Monaco</option>
                <option value="MN">Mongolia</option>
                <option value="MS">Montserrat</option>
                <option value="MA">Morocco</option>
                <option value="MZ">Mozambique</option>
                <option value="MM">Myanmar</option>
                <option value="NA">Nambia</option>
                <option value="NU">Nauru</option>
                <option value="NP">Nepal</option>
                <option value="AN">Netherland Antilles</option>
                <option value="NL">Netherlands (Holland, Europe)</option>
                <option value="NV">Nevis</option>
                <option value="NC">New Caledonia</option>
                <option value="NZ">New Zealand</option>
                <option value="NI">Nicaragua</option>
                <option value="NE">Niger</option>
                <option value="NG">Nigeria</option>
                <option value="NW">Niue</option>
                <option value="NF">Norfolk Island</option>
                <option value="NO">Norway</option>
                <option value="OM">Oman</option>
                <option value="PK">Pakistan</option>
                <option value="PW">Palau Island</option>
                <option value="PS">Palestine</option>
                <option value="PA">Panama</option>
                <option value="PG">Papua New Guinea</option>
                <option value="PY">Paraguay</option>
                <option value="PE">Peru</option>
                <option value="PH">Philippines</option>
                <option value="PO">Pitcairn Island</option>
                <option value="PL">Poland</option>
                <option value="PT">Portugal</option>
                <option value="PR">Puerto Rico</option>
                <option value="QA">Qatar</option>
                <option value="ME">Republic of Montenegro</option>
                <option value="RS">Republic of Serbia</option>
                <option value="RE">Reunion</option>
                <option value="RO">Romania</option>
                <option value="RU">Russia</option>
                <option value="RW">Rwanda</option>
                <option value="NT">St Barthelemy</option>
                <option value="EU">St Eustatius</option>
                <option value="HE">St Helena</option>
                <option value="KN">St Kitts-Nevis</option>
                <option value="LC">St Lucia</option>
                <option value="MB">St Maarten</option>
                <option value="PM">St Pierre &amp; Miquelon</option>
                <option value="VC">St Vincent &amp; Grenadines</option>
                <option value="SP">Saipan</option>
                <option value="SO">Samoa</option>
                <option value="AS">Samoa American</option>
                <option value="SM">San Marino</option>
                <option value="ST">Sao Tome &amp; Principe</option>
                <option value="SA">Saudi Arabia</option>
                <option value="SN">Senegal</option>
                <option value="RS">Serbia</option>
                <option value="SC">Seychelles</option>
                <option value="SL">Sierra Leone</option>
                <option value="SG">Singapore</option>
                <option value="SK">Slovakia</option>
                <option value="SI">Slovenia</option>
                <option value="SB">Solomon Islands</option>
                <option value="OI">Somalia</option>
                <option value="ZA">South Africa</option>
                <option value="ES">Spain</option>
                <option value="LK">Sri Lanka</option>
                <option value="SD">Sudan</option>
                <option value="SR">Suriname</option>
                <option value="SZ">Swaziland</option>
                <option value="SE">Sweden</option>
                <option value="CH">Switzerland</option>
                <option value="SY">Syria</option>
                <option value="TA">Tahiti</option>
                <option value="TW">Taiwan</option>
                <option value="TJ">Tajikistan</option>
                <option value="TZ">Tanzania</option>
                <option value="TH">Thailand</option>
                <option value="TG">Togo</option>
                <option value="TK">Tokelau</option>
                <option value="TO">Tonga</option>
                <option value="TT">Trinidad &amp; Tobago</option>
                <option value="TN">Tunisia</option>
                <option value="TR">Turkey</option>
                <option value="TU">Turkmenistan</option>
                <option value="TC">Turks &amp; Caicos Is</option>
                <option value="TV">Tuvalu</option>
                <option value="UG">Uganda</option>
                <option value="UA">Ukraine</option>
                <option value="AE">United Arab Emirates</option>
                <option value="GB">United Kingdom</option>
                <option value="US">United States of America</option>
                <option value="UY">Uruguay</option>
                <option value="UZ">Uzbekistan</option>
                <option value="VU">Vanuatu</option>
                <option value="VS">Vatican City State</option>
                <option value="VE">Venezuela</option>
                <option value="VN">Vietnam</option>
                <option value="VB">Virgin Islands (Brit)</option>
                <option value="VA">Virgin Islands (USA)</option>
                <option value="WK">Wake Island</option>
                <option value="WF">Wallis &amp; Futana Is</option>
                <option value="YE">Yemen</option>
                <option value="ZR">Zaire</option>
                <option value="ZM">Zambia</option>
                <option value="ZW">Zimbabwe</option>
            </select>
          </div>
    </div>
      
<hr>						

  <div class="container">
  <span class="btn btn-primary">Search</span>
  <span class="btn btn-danger">Reset</span>
  </div>

  </div>
</div>

<div class="card shadow p-3 mb-5 bg-white rounded">
    
    <div class="card-body">

    <div class="container">
    <span class="btn btn-primary">Add</span>
    <span class="btn btn-danger">Delete</span>
    </div>

    <app-table></app-table>

    </div>
  </div>


</div>

</mat-sidenav-container>