/* You can add global styles to this file, and also import other style files */
/* @import '@angular/material/prebuilt-themes'; */

html, body {margin:0; height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
div ,p,span{font-size:14px;}

a.ng2-smart-action.ng2-smart-action-add-add{
    font-size: 12px;
}
::ng-deep .mat-tab-body-content {
    flex: 1 1 100%;
  }